.about-para {
    text-align: justify;
}

#contact-title {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 6rem;
    text-align: center;
}

#contact-page-div {
    border-radius: 8px;
    margin: 30px 0px;
    justify-content: center;
}

#contact-links-div {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    height: 600px;
    background-color: #14213d;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    box-shadow: 0px 0px 20px #00000010;
}

#contact-form-div {
    height: 600px;
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: 0px 0px 20px #00000010;
}

#contact-links-div h3 {
    font-family: "Raleway", sans-serif;
    color: #e5e5e5;
}

#contact-links-div h4 {
    font-size: 4rem;
    transition: 0.3s;
}

#contact-links-div h4:hover {
    opacity: 0.7;
}

#contact-form-div h3 {
    font-family: "Raleway", sans-serif;
    color: #14213d;
}

.container p {
    text-align: center;
    color: darkgray;
}

h4 span {
    color: #e5e5e5;
    font-weight: 100;
}

@media (max-width: 575.98px) {
    #contact-links-div {
        border-radius: 10px 10px 0px 0px;
        display: flex;
        justify-content: space-around;
        height: 70px;
        align-items: center;
    }

    #contact-form-div {
        border-radius: 0px 0px 10px 10px;
    }
}

@media (max-width: 767px) {
    #contact-links-div h4 {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    #contact-title {
        font-size: 5rem;
    }
}

@media (max-width: 320px) {
    #contact-title {
        font-size: 4rem;
    }
}
